<html>
	<head>
		<meta charset="utf-8">
		<title>HTMX Click of Hover to Reveil</title>
	</head>

	<body>
		<div 
			hx-get="http://127.0.0.1:8000/fake">
			Click Me (in place)!
		</div>
		
		<div 
			hx-get="http://127.0.0.1:8000/fake"
			hx-target="#placeholder">
			Click Me (to placeholder)!
		</div>
		<div id="placeholder"></div>

		<div 
			style="border:1px solid black;"
			hx-get="http://127.0.0.1:8000/fake" 
			hx-trigger="mouseenter once">
			[hover here]
		</div>

        <script 
			src="https://unpkg.com/htmx.org@1.9.6" 
			integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" 
			crossorigin="anonymous"></script>
	</body>
</html> 
