# vim backup file
*~
# matlab auto-save files
*.asv
# java class files
*.class
# jupyter notebook auto-save files
.ipynb_checkpoints
# compiled python files
*.pyc               
*.pdf
bin/
makefile
Makefile
*.so
*.o
*.exe
*.zip