<!-- https://stackoverflow.com/questions/70203473/creating-a-horizontal-rule-hr-divider-that-contains-text-with-tailwind-css -->

<html>

<head>
	<meta charset="utf-8">
	<script src="https://cdn.tailwindcss.com"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<title>Tailwindcss Horizontal ruler with Text</title>
</head>

<body>
	
	<div class="relative flex py-5 items-center">
		<div class="flex-grow border-t border-gray-400"></div>
		<span class="flex-shrink mx-4 text-gray-400">Content</span>
		<div class="flex-grow border-t border-gray-400"></div>
	</div>

	<!-- 
	<div class="relative py-4">
		<div class="absolute inset-0 flex items-center">
			<div class="w-full border-b border-gray-300"></div>
		</div>
		<div class="relative flex justify-center">
			<span class="bg-white px-4 text-sm text-gray-500">Continue</span>
		</div>
	</div>
	-->
	  
	
</body>

</html>