@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');

* {
box-sizing: border-box;
}

body {
font-family: 'Quicksand', sans-serif;
color: #324e63;
}
.range {
-webkit-appearance: none;
-moz-appearance: none;
/*   position: absolute; */
/*   left: 35%; */
/*   top: 35%; */
width: 50%;
margin: auto;
display: block;
margin-top: 35px;
/*   transform: translate(-50%, -50%); */
}

input[type="range"]::-webkit-slider-runnable-track {
-webkit-appearance: none;
border-radius:10px;
box-shadow:0px 0px 5px 5px gainsboro;
background: #4776e6; /* fallback for old browsers */
background: -webkit-linear-gradient(
to right,
#8e54e9,
#4776e6
); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(
to right,
#8e54e9,
#4776e6
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 7.5px;
}

input[type="range"]:focus {
outline: none;
}

input[type="range"]::-moz-range-track {
-moz-appearance: none;
background: rgba(59, 173, 227, 1);
background: -moz-linear-gradient(
45deg,
rgba(59, 173, 227, 1) 0%,
rgba(87, 111, 230, 1) 25%,
rgba(152, 68, 183, 1) 51%,
rgba(255, 53, 127, 1) 100%
);
background: -webkit-gradient(
left bottom,
right top,
color-stop(0%, rgba(59, 173, 227, 1)),
color-stop(25%, rgba(87, 111, 230, 1)),
color-stop(51%, rgba(152, 68, 183, 1)),
color-stop(100%, rgba(255, 53, 127, 1))
);
background: -webkit-linear-gradient(
45deg,
rgba(59, 173, 227, 1) 0%,
rgba(87, 111, 230, 1) 25%,
rgba(152, 68, 183, 1) 51%,
rgba(255, 53, 127, 1) 100%
);
background: -o-linear-gradient(
45deg,
rgba(59, 173, 227, 1) 0%,
rgba(87, 111, 230, 1) 25%,
rgba(152, 68, 183, 1) 51%,
rgba(255, 53, 127, 1) 100%
);
background: -ms-linear-gradient(
45deg,
rgba(59, 173, 227, 1) 0%,
rgba(87, 111, 230, 1) 25%,
rgba(152, 68, 183, 1) 51%,
rgba(255, 53, 127, 1) 100%
);
background: linear-gradient(
45deg,
rgba(59, 173, 227, 1) 0%,
rgba(87, 111, 230, 1) 25%,
rgba(152, 68, 183, 1) 51%,
rgba(255, 53, 127, 1) 100%
);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
border: 2px solid;
border-radius: 50%;
height: 30px;
width: 30px;
max-width: 80px;
position: relative;
bottom: 11px;
background-color: white;
cursor: -webkit-grab;

-webkit-transition: border 1000ms ease;
transition: border 1000ms ease;
}

input[type="range"]::-moz-range-thumb {
-moz-appearance: none;
border: 2px solid;
border-radius: 50%;
height: 25px;
width: 25px;
max-width: 80px;
position: relative;
bottom: 11px;
background-color: #1d1c25;
cursor: -moz-grab;
-moz-transition: border 1000ms ease;
transition: border 1000ms ease;
}

.range.blue::-webkit-slider-thumb {
border-color: rgb(59, 173, 227);
}

.range.ltpurple::-webkit-slider-thumb {
border-color: rgb(87, 111, 230);
}

.range.purple::-webkit-slider-thumb {
border-color: rgb(152, 68, 183);
}

.range.pink::-webkit-slider-thumb {
border-color: rgb(255, 53, 127);
}

.range.blue::-moz-range-thumb {
border-color: rgb(59, 173, 227);
}

.range.ltpurple::-moz-range-thumb {
border-color: rgb(87, 111, 230);
}

.range.purple::-moz-range-thumb {
border-color: rgb(152, 68, 183);
}

.range.pink::-moz-range-thumb {
border-color: rgb(255, 53, 127);
}

input[type="range"]::-webkit-slider-thumb:active {
cursor: -webkit-grabbing;
}

input[type="range"]::-moz-range-thumb:active {
cursor: -moz-grabbing;
}
h1{
margin-top:250px;
text-align:center;
padding:15px;
background: #4776E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 box-shadow: 0px 0px 5px 5px gainsboro;
border-radius:10px;
color: white;
}

