<html>
	<head>
		<meta charset="utf-8">
		<title>HTMX Sandbox</title>
	</head>

	<body>

		<!-- <input type="text" name="q"
			hx-get="/trigger_delay"
			hx-trigger="keyup changed delay:500ms"
			hx-target="#search-results"
			placeholder="Search..."
		>
		<div id="search-results"></div> -->

		<!-- <button hx-post="/foo" hx-target="#result">
			Count Up
		</button>
		<output id="result"></output> -->

		<div>
			<button hx-get="http://127.0.0.1:8000/fetch" hx-target="#result">&#x21bb;</button>
			<span id="result">Click to fetch value</span>
		</div>
		
		<!-- <script src="https://demo.htmx.org"></script> -->
        <script 
			src="https://unpkg.com/htmx.org@1.9.6" 
			integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" 
			crossorigin="anonymous"></script>
	</body>
</html> 
