<!-- https://github.com/Nada-webdev/Tailwind-Piano-Project -->

<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.tailwindcss.com"></script>
	<title>Tailwind Piano</title>
</head>

<body>
	<div class="container">
		<div class="keys bg-black w-[949px] h-[180px] pl-[2px] overflow-hidden">
			<div
				class="key hover:bg-[#6b6666] bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] black-key bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] black-key bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] black-key bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] black-key bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] black-key bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] black-key bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] black-key bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] black-key bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] black-key bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] black-key bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] black-key bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] black-key bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] black-key bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] black-key bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
			<div
				class="key hover:bg-[#6b6666] black-key bg-white relative w-[41px] h-[175px] m-[2px] float-left rounded-b-[3px]">
			</div>
		</div>
	</div>
</body>

</html>