<html>
	<head>
		<meta charset="utf-8">
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Tailwindcss Links</title>
	</head>

	<body>

		<div>
			<!-- <p>Default</p> -->
			<a href="#" class="">Link</a>
		</div>

		<div>
			<!-- <code>active:</code> -->
			<a href="#" class="active:bg-blue-400">Link</a>
		</div>

		<div>
			<!-- <code>visited::</code> -->
			<a href="#" class="visited:text-purple-600">Link</a>
		</div>

		<div>
			<a href="#" class="text-blue-600 hover:underline">Link</a>
		</div>

		<div>
			<a href="#" class="text-blue-600 underline hover:no-underline">Link</a>
		</div>

	</body>
</html> 
