html {
    height: 100%;
}

body {
    min-height: 100vh;
}

/* fixed and fluid only on sm and up */
@media (min-width: 768px) {
    .fixed {
        flex: 0 0 200px;
        min-height: 100vh;
        min-width: 180px;
    }

    .col .fluid {
        min-height: 100vh;
    }

    .flex-grow {
        flex: 1;
    }
}
