<html>

<head>
	<meta charset="utf-8">
	<script src="https://cdn.tailwindcss.com"></script>
	<title>Tailwindcss floating action button (FAB)</title>
</head>

<body>

	<code>https://www.slingacademy.com/article/tailwind-css-create-a-floating-action-button-fab/</code>

	<ul>
		<li><code>fixed</code>: This class makes the button positioned fixed to the viewport, meaning  that it stays in the same place even if the page is scrolled.</li>
		<li><code>z-90</code>: This class sets a very high z-index for the button, making it stand in front of other page elements.</li>
		<li><code>bottom-10</code>, <code>right-8</code>, <code>w-20</code>, <code>h-20</code>: Set the position and the size of the button.</li>
	</ul>

	<!-- main content here -->

    <button 
		onclick="buttonHandler()" 
		title="Tooltip"
        class="fixed z-90 bottom-10 right-8 bg-blue-600 w-20 h-20 rounded-full drop-shadow-lg flex justify-center items-center text-white text-4xl hover:bg-blue-700 hover:drop-shadow-2xl hover:animate-bounce duration-300">
		&#9993;
	</button>

    <script>
        function buttonHandler() {
            alert('Button clicked!');
        }   
    </script>
</body>

</html>